
/* STYLE DEFAUT */
body { font-family: $text; padding: $padding_page; color: $fcolor; font-size: $tsize; }

body > p { margin-bottom: 1%; }

/* TITRE */
h1, h2, h3, h4 , h5, h6
{
 font-weight: bold;
 font-family: cursive, sans-serif;
 margin-top: 2%;
 margin-bottom: 1%;
}

/* TITRE & SOUS-TITRE */
@media screen and (min-width: 0px) {
  h1 { margin-left: 0.5em; font-size: 1.5em;
    &.sub { margin-left: 1.7em; font-size: 1.25em; color: $sous_titre; } }
  h2 { margin-left: 1.5em; font-size: 1.25em;
    &.sub { margin-left: 2.9em; font-size: 1em; color: $sous_titre;} }
  h3 { margin-left: 2.5em; font-size: 1em;
    &.sub { margin-left: 5.4em; font-size: 0.75em; color: $sous_titre;} }
  h4 { margin-left: 4.5em; font-size: 0.75em;
    &.sub { margin-left: 8.7em; font-size: 0.5em; color: $sous_titre;} }
  h5 { margin-left: 7em; font-size: 0.5em;
    &.sub { margin-left: 13.4em; font-size: 0.25em; color: $sous_titre;} }
  h6 { margin-left: 10em; font-size: 0.25em;
    &.sub { margin-left: 24em; font-size: 0.2em; color: $sous_titre;} }
}
@media screen and (min-width: 600px) {
  h1 { margin-left: 0.5em; font-size: 2em;
    &.sub { margin-left: 1.7em; font-size: 1.5em; color: $sous_titre; } }
  h2 { margin-left: 1.5em; font-size: 1.5em;
    &.sub { margin-left: 2.9em; font-size: 1.25em; color: $sous_titre;} }
  h3 { margin-left: 2.5em; font-size: 1.25em;
    &.sub { margin-left: 5.4em; font-size: 1em; color: $sous_titre;} }
  h4 { margin-left: 4.5em; font-size: 1em;
    &.sub { margin-left: 8.7em; font-size: 0.75em; color: $sous_titre;} }
  h5 { margin-left: 7em; font-size: 0.75em;
    &.sub { margin-left: 13.4em; font-size: 0.5em; color: $sous_titre;} }
  h6 { margin-left: 10em; font-size: 0.5em;
    &.sub { margin-left: 24em; font-size: 0.2em; color: $sous_titre;} }
}
@media screen and (min-width: 1000px) {
  h1 { margin-left: 0.5em; font-size: 2.5em;
    &.sub { margin-left: 1.7em; font-size: 1.75em; color: $sous_titre; } }
  h2 { margin-left: 1.5em; font-size: 2em;
    &.sub { margin-left: 2.9em; font-size: 1.5em; color: $sous_titre;} }
  h3 { margin-left: 2.5em; font-size: 1.75em;
    &.sub { margin-left: 5.4em; font-size: 1.25em; color: $sous_titre;} }
  h4 { margin-left: 4.5em; font-size: 1.5em;
    &.sub { margin-left: 8.7em; font-size: 1em; color: $sous_titre;} }
  h5 { margin-left: 7em; font-size: 1.25em;
    &.sub { margin-left: 13.4em; font-size: 0.75em; color: $sous_titre;} }
  h6 { margin-left: 10em; font-size: 1em;
    &.sub { margin-left: 24em; font-size: 0.5em; color: $sous_titre;} }
}

* > .sub { font-size: 1em; color: $sous_titre; }
h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small { font-size: 0.75em; color: $sous_titre; }

/* BALISE DE TEXTE */
mark { background-color: $btext; color: $fcolor; }
del { text-decoration: line-through red;}
ins { text-decoration: none; background-color: $btext; font-size: 0.75em; padding: 1px 5px 1px 5px;}
u { text-decoration: underline; }
strong { font-weight: bold; }
em { font-weight: bold; font-style: italic;}
abbr { border-bottom: 1px dashed $fcolor; }
/* -----------------*/
blockquote { margin: 1% 0;font-size: 0.75em; font-style: italic; quotes: '"' '"' "'" "'" }
blockquote:before { content: open-quote }
blockquote:after  { content: close-quote }
code { color: $fcolor; font-family: monospace; border-left: 3px solid $fcolor; background-color: $btext; padding-left: 15px; margin-left: 10em; }

kbd
{
	color: white;
	padding: 1px 7px;
	border: 1px solid black;
	background-color: $fcolor;
	border-color: #463F32;
	border-radius: 20%;
}
pre {font-family: monospace; font-size: 2em; }
ul { margin-left: 2em; list-style-type: circle;}
.list_carre { list-style-type: square;}
.list_sans { list-style-type: none;}

/* FORMATAGE TEXTE */
.tleft { text-align: left; }
.tright { text-align: right; }
.tcenter { text-align: center; }
.tjustifie { text-align: justify; text-justify: inter-word; }
.firstmaj { text-transform: capitalize; }
.maj { text-transform: uppercase; }
.min { text-transform: lowercase; }


/* TABLEAU */
table { margin: 5px; border: 1px solid black; text-align: center; }
th { background-color: $btab_titre; color: $ftab_titre; padding: 1px 5px; border: 1px solid black; border-right: 1px solid white; }
th:last-child { border-right: 1px solid black; }
td { padding: 1px 5px; border: 1px solid black; }
.alterne:nth-child(2n+1) { background-color: $ftab; color: $fcolor; }

.tab_survol:hover, .tab_survol:hover > td  { background-color: $btab_survol; color: $ftab_survol;}

/* HR */
hr { border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));}



/* LIEN */
a { color: $flien; text-decoration: none;}
a:link { color: $flien_link; }
a:visited { color: $flien_visited; }
a:hover { text-decoration: none; font-weight: bold }
a:active { color: $flien_active }
