/* "f" : font -> text */
/* "b" : background -> font */
/* DEFAULT */
$text : Arial;
$padding_page : 0;

/* FORMATAGE TEXTE */
$fcolor : #24445C;
$sous_titre : #8B6C42;
$btext : #FDF1B8;
$tsize : 1em;

/* ALERTE */
$bdanger : red;
$fdanger : white;
$bsucces : green;
$fsucces : white;
$binfo : #56739A;
$finfo : white;
$baver : white;
$faver : red;

/* TABLEAU */
// $btab_titre : #4E3D28;
// $ftab_titre : white;
// $btab_survol : #FFE4C4;
// $ftab : #C8AD7F;
$btab_titre : $fcolor;
$ftab_titre : white;
$btab_survol : #8EA2C6;
$ftab_survol : white;
$ftab : #BBD2E1;

/* LIEN */
$flien : $fcolor;
$flien_link : $fcolor;
$flien_visited : $fcolor;
$flien_active : $fcolor;

/* BOUTON */
$button_small_size : 1em;
$button_large_size : 2em;
$degrade1 : $fcolor;
$degrade2 : #C8AD7F;

/* PAGINATION */
$fpage : #1FA055;
$fpage_activ : #1FA055;

/* GRILLE */
$nbcol: 8;
$gutter: 2%;
$col: (100% - ($nbcol*$gutter))/$nbcol;
$demigutter: $gutter/2;

/* NAVBAR */
$nbmenu : 5;
$bmenu : $fcolor;
$fmenu : white;
$bmenu_activ : #1FA055;
$fmenu_activ : $fmenu;

@import "reset";
@import "alerte";
@import "button";
@import "grid_mixin";
@import "menu";
@import "composant";
@import "typo";
@import "whitespace";
